<!DOCTYPE html>
<html lang="en">
<head>
    <title>Llena los datos del post</title>
</head>
<body>
    <form>
        <div>
            <label>Introduce los datos del requerimiento:</label>
            <input type="text" id="requerimiento" placeholder="Nombre del requerimiento">
            <input type="text" id="descripcion" placeholder="Descripcion del requerimiento">

            <label>Complejidad</label>
            <select id='complejidad'>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="9">9</option>
                <option value="15">15</option>
            </select>

            <label>Criticidad</label>
            <select id='criticidad'>
                <option value="necesario">Necesario</option>
                <option value="deseable">Deseable</option>
                <option value="critico">Crítico</option>
            </select>
        </div>
        <button type="submit">Add requerimiento</button>
    </form>

    <script>
        const electron = require('electron');
        const {ipcRenderer} = electron;

        const form = document.querySelector('form');
        form.addEventListener('submit', submitForm);

        function submitForm(e){
            e.preventDefault();
            var reqName = document.querySelector('#requerimiento').value;
            var reqDesc = document.querySelector('#descripcion').value;
            var reqComplex = document.querySelector('#complejidad').value;
            var reqCrit = document.querySelector('#criticidad').value;
            var requirement = ',\n{\n"nombre" : "' + reqName + '",\n"descripcion" : "' 
            + reqDesc + '",\n"complejidad" : "' + reqComplex + '",\n"criticidad" : "'
            + reqCrit + '"\n}';
            
            const fs = require('fs');

            fs.appendFileSync('./engine/data/requerimientos.json', requirement, (err) => {
                        if (err) console.log(err);
                        console.log("Successfully Written to File.");
                    });

            ipcRenderer.send('addPost', requirement);
        }
    </script>
</body>
</html>