<!DOCTYPE html>
<html lang="en">
<head>
    <title>Llena los datos del post</title>
</head>
<body>
    <form>
        <div>
            <label>Enter Item</label>
            <input type="text" id="requerimiento">
            <input type="text" id="descripcion">
            <input type="text" id="tengo">

            <label>complejidad</label>
            <select id='complejidad'>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="9">9</option>
                <option value="15">15</option>
            </select>

            <label>criticidad</label>
            <select id='criticidad'>
                <option value="necesario">necesario</option>
                <option value="deseable">deseable</option>
                <option value="critico">critico</option>
            </select>
        </div>
    </form>
</body>
</html>